{% extends 'base.html.twig' %}

{% block title %}Liste de nos produits{% endblock %}

{% block body %}
<main>
    <section class="items" id="items">
        <h1>Nos produits</h1>
        <ul>
            {% for produits in produits %}
            <a href="{{ url("produitInfo", {id: produits.id}) }}">
                <img src="/img/{{ produits.image }}" alt="{{produits.nom}}">
            {{produits.nom }}</a>
            {% endfor %}
        </ul>
    </section>
</main>
{% endblock %}
