{% extends 'base.html.twig' %}

{% block title %}Modifier {{ produit.nom }}{% endblock %}

{% block body %}
 <a href="{{ path('app_crud_produit_index') }}" class="btn" style="background-color:#A2A2FC; color: white;"> < Retour à la liste</a>

     <h1 class="text-center my-4">Modifier {{produit.nom}}</h1>

    {{ include('crud_produit/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}