<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
       {% block stylesheets %}
            <link href="/css/reset.css" rel="stylesheet" />
            <link href="/css/base.css" rel="stylesheet" />
        {% endblock %}

    </head>

<body>

    <header>

        <div class="header">
        
            <img src="/img/logo.png" class="logo">

                <div class="contenu">
                    <p>Ceci est le nom du site</p>
                </div>
        </div>

        <div class="nav">
            <a class="btn1" href="/">Accueil</a>

            <a class="btn2" href="/liste">Nos produits</a>
        </div>

    </header> 

    {% block body %}
    {% endblock %}


        <div class="footer">

        </div>
</body>
</html>
